<%= form_with(model: incoice, local: true) do |form| %>
  <% if incoice.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(incoice.errors.count, "error") %> prohibited this incoice from being saved:</h2>

      <ul>
        <% incoice.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :amount %>
    <%= form.text_field :amount %>
  </div>

  <div class="field">
    <%= form.label :company %>
    <%= form.text_field :company %>
  </div>

  <div class="field">
    <%= form.label :contragent %>
    <%= form.text_field :contragent %>
  </div>

  <div class="field">
    <%= form.label :currency %>
    <%= form.text_field :currency %>
  </div>

  <div class="field">
    <%= form.label :date %>
    <%= form.date_select :date %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
